* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #33425B;
    --celeste: #5BAAEC;
    --morado1: #526ED0;
    --morado2: #484CB0;
  }

/* FUENTES **************************
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body {
    background-color: var(--celeste);
}

.container {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    box-shadow: 10px 10px black;
    border: 5px solid var(--morado1);
}

header {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

header h1 {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    color: var(--azul);
}

#navbar ul {
    list-style: none;
    display: flex;
}

#navbar ul li {
    margin-top: 50px;
    margin-right: 30px;
    font-weight: bold;
}

#navbar ul li a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    color: var(--morado1);
}