* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #33425B;
    --celeste: #5BAAEC;
    --morado1: #526ED0;
    --morado2: #484CB0;
  }

/* FUENTES **************************
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body {
    background-color: var(--celeste);
}

.container {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    box-shadow: 10px 10px black;
    border: 5px solid var(--morado1);
}

/*  ENCABEZADO  */
    /*  TÍTULO  */

header h1 {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    color: var(--azul);
}

.bordertitle {
    width: 70%;
    margin: 0 auto;
    border-bottom: 3px solid #ccc;
}

/*  CONTENEDOR CON LOGO Y NAVBAR    */
.wrap-head {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.logo {
    flex-basis: 70%;
}

.logo img {
    display: block;
    width: 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 30%;
}

.navbar ul li {
    align-self: start;
    margin-top: 40px;
    margin-right: 30px;
    font-weight: bold;
}

#nav-element1 {
    order: 5;
}
#nav-element2 {
    order: 4;
}
#nav-element3 {
    order: 3;
}
#nav-element4 {
    order: 2;
}
#nav-element5 {
    order: 1;
}

.navbar ul li a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    color: var(--morado1);
}

.navbar ul li a:hover {
    color: black;
}

#nav-menu {
    display: none;
    margin: 25px;
}

#nav-menu div {
    width: 24px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    border-radius: 20px 20px;
}